body{
	background-color: #8E99AD;
	font-family: "ABeeZee";
	
}
label.valid {
	width: 27px;
	height: 20px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
    color: red;
/*    padding: 2px 8px;*/
/*   	display: block;*/
    position: relative;
    top: 1px;
	
}

.container{
	width: calc(485px + 95px + 485px);
	margin: 0 auto;

}
	p.header{
		font-size: 33px;
		margin-bottom: 85px;
		color: #333C46;
		font-weight: 500;
	
	
		
		
	}
	p.welkom{
		color: #596268;
		font-size: 39px;
		margin-bottom: 0px;
		
		
	}
	p.sign{
		font-size: 39px;
		color:#A3A6AE;
		margin-top: 0px;
		margin-bottom: 100px;
		
		}
p.sign span{
	display: block;
}

#email{
	margin-bottom: 45px;
	font-size: 19px;
	width: 88%;
	border: 3px solid white;
	outline: inherit;
	padding-bottom: 14px;
	color: #565E65;
}
#email1{
	margin-bottom: 45px;
	font-size: 19px;
	width: 88%;
	border: 3px solid white;
	outline: inherit;
	padding-bottom: 14px;
	color: #565E65;
		
}
#password{
	display: block;
	font-size: 19px;
	margin-bottom: 105px;
	width: 88%;
	outline: inherit;	
}

.form input{
		border: none;

}
input::placeholder {
  color: #B2B3C4;
}
#submit{
	color:#48ACD6;
	font-size: 27px;
	border-color: inherit;
	background-color: inherit;
	margin-bottom: 85px;
	
}

.account{
	color:#B2B3C4;
	display: inline-block;
	

		
}
.signup{
		color:#B2B3C4;
;
		
		display: inline-block;
	    

}
div.cat1{
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 55px;
    padding-top: 88px;
    margin-right: 90px;
    background-color: white;
    width: calc(485px - 140px);
    height: 790px;
    
    display: inline-block;
}
div.cat2{
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 55px;
    padding-top: 88px;
    background-color: white;
    width: calc(485px - 140px);
    height: 790px;
    display: inline-block;
    
	
	
}


